<%- include ("partials/header2.ejs") %>

<div id="container_id" class="todolist_container">
  <h1>To-Do List <i class="fas fa-plus"></i></h1>
  <form action="/todolist" method="POST">
    <input  type="text"  name=listitemname placeholder="Add Todo Here">
  </form>

<ul>
  <%  user['lists'].forEach(function(listitem){ %>
      <% if(listitem['isCompleted']){ %>
        <li><span><form action="/<%= listitem['_id'] %>?_method=DELETE" method="post">
          <button type="submit" id="delete_button"><i class="far fa-trash-alt"></i> </button>
         </form></span>
           <form id="form-inline" action="/<%=listitem._id%>?_method=PUT" method="POST">
            <input type="submit"  value="<%= listitem.name %>">
            </form>
        </li>
   <% }else{ %>
    <li><span><form action="/<%= listitem['_id'] %>?_method=DELETE" method="post">
      <button type="submit" id="delete_button"><i class="far fa-trash-alt"></i> </button>
     </form></span>
       <form id="form-inline" action="/<%=listitem._id%>?_method=PUT" method="POST">
        <input type="submit" class="completed" value="<%= listitem.name %>">
        </form>
    </li>
  <% } }) %>
</ul>
</div>
<script>
  $("input[type='submit']").on("click",function(){
  $(this).toggleClass("completed")
});
  $(".todolist_container ul").on("click","span",function(event){
    $(this).parent().fadeOut(500,function(){
         $(this).remove();
        });
   event.stopPropagation();
  });
  $(".fa-plus").click(function(){
      $("input[type='text']").fadeToggle();    
  });
  </script>
<%- include ("partials/footer2.ejs") %>

